<header>
  <%- partial("_partials/_header") %>
</header>
<%- partial("_partials/_introduction") %>

<article class="landing-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Latest lessons I've learnt:</h1>
        <%- partial("_landing_page/_partials/_articles.ejs") %>
        <%- partial("_landing_page/_partials/_videos.ejs") %>
        <%- partial("_landing_page/_partials/_podcasts.ejs") %>
        <%- partial("_landing_page/_partials/_events.ejs") %>
      </div>
    </div>
  </div>
</article>

<%- partial("_partials/_footer") %>
